<ion-view title="Personagem">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Informações Básicas</div>
            <div class="item item-body">
                <form class="list">
                    <ion-item class="item-thumbnail-left">
                        <img>
                        <h2>Aparência</h2>
                        <p>Foto do Personagem</p>
                    </ion-item>
                    <label class="item item-input" name="nome">
                        <span class="input-label">Nome</span>
                        <input type="text" placeholder="">
                    </label>
                    <label class="item item-input" name="idade">
                        <span class="input-label">Idade</span>
                        <input type="number" placeholder="">
                    </label>
                    <label class="item item-select" name="raca">
                        <span class="input-label">Raça</span>
                        <select></select>
                    </label>
                </form>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Atributos Físicos</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input" name="forca">
                        <span class="input-label">Força</span>
                        <input type="number" placeholder="">
                    </label>
                    <label class="item item-input" name="agilidade">
                        <span class="input-label">Agilidade</span>
                        <input type="number" placeholder="">
                    </label>
                    <label class="item item-input" name="vitalidade">
                        <span class="input-label">Vitalidade</span>
                        <input type="number" placeholder="">
                    </label>
                </form>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Atributos Mentais</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input" name="inteligencia">
                        <span class="input-label">Inteligência</span>
                        <input type="number" placeholder="">
                    </label>
                    <label class="item item-input" name="carisma">
                        <span class="input-label">Carisma</span>
                        <input type="number" placeholder="">
                    </label>
                    <label class="item item-input" name="percepcao">
                        <span class="input-label">Percepção</span>
                        <input type="number" placeholder="">
                    </label>
                </form>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Habilidades / Conhecimentos</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input" name="academico">
                        <span class="input-label">Acadêmico</span>
                        <input type="number" placeholder="">
                    </label>
                    <label class="item item-input" name="armasdeforgo">
                        <span class="input-label">Armas de Fogo</span>
                        <input type="number" placeholder="">
                    </label>
                    <label class="item item-input" name="artesmarciais">
                        <span class="input-label">Artes Marciais</span>
                        <input type="number" placeholder="">
                    </label>
                    <label class="item item-input" name="computacao">
                        <span class="input-label">Computação</span>
                        <input type="number" placeholder="">
                    </label>
                    <label class="item item-input" name="pilotagem">
                        <span class="input-label">Pilotagem</span>
                        <input type="number" placeholder="">
                    </label>
                </form>
            </div>
        </div>
        <form class="list"></form>
    </ion-content>
</ion-view>